.movie-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espaciado entre tarjetas */
    justify-content: center; /* Centramos las tarjetas */
    padding: 16px;
    
}

p{
    display: flex;
    font-size: 18px;
    justify-content: center;
}