/* Estilos para el contenedor del input y el texto */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/* Estilos para el input */
.search-container input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para el texto de búsqueda en tiempo real */
.search-container p{
    margin-top: 10px;
    color: gray;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 600px) {
    .search-container {
    padding: 10px;
    }

    .search-container input {
    max-width: 100%;
    font-size: 14px;
    background-color: #6fabe7;
    }

    .search-container p {
    font-size: 12px;
    }

     /* Estilos para cuando el campo de búsqueda está vacío */
    .search-container input::placeholder {
        color: #ddd;
        font-style: italic;
    }

}

