<div class="profile-table-container">
    <h3>Detalles del Usuario</h3>
    <table class="profile-table">
    <tr>
        <td><strong>Nombre:</strong></td>
        <td>{{ objeto.nombre }}</td>
    </tr>
    <tr>
        <td><strong>Edad:</strong></td>
        <td>{{ objeto.edad }}</td>
    </tr>
    <tr>
        <td><strong>Ciudad:</strong></td>
        <td>{{ objeto.ciudad }}</td>
    </tr>
    <tr>
        <td><strong>Profesión:</strong></td>
        <td>{{ objeto.profesion }}</td>
    </tr>
    </table>
</div>

