.movie-card {
    display: flex;
    flex-direction: column; /* Elementos apilados verticalmente */
    align-items: center; /* Centrar los elementos en la tarjeta */
    width: 200px; /* Ancho fijo de las tarjetas */
    background-color: #f9f9f9; /* Fondo claro */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow: hidden; /* Evitar desbordes */
}

p{
    font-size: 18px;
}

/* Imagen de la tarjeta */
.movie-card img {
    width: 100%; /* Imagen cubre el ancho de la tarjeta */
    height: auto;
    border-bottom: 1px solid #ddd; /* Línea divisoria */
}

/* Títulos */
.movie-card h3 {
    margin: 12px 8px;
    font-size: 1.1rem;
    text-align: center;
    color: #333;
}

/* Descripción */
.movie-card p {
    font-size: 0.9rem;
    color: #555;
    margin: 8px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px){
    .movie-item {
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 480px){
    .movie-item h3 {
        font-size: 1.2rem;
    }

    .movie-item p {
        font-size: 0.9rem;
    }
}